<mat-card>
  <ng-container *ngIf="formSubmitted; else form">
    <h3>Form Submitted Successfully</h3>
    <p>Your inquiry has been received and will be answered as soon as possible. The reply will be sent to: <strong>{{ formEmailAddress }}</strong></p>
    <div class="new-inquiry-container">
      <button color="primary" mat-raised-button (click)="formSubmitted = false">Submit New Inquiry</button>
    </div>
  </ng-container>
  <ng-template #form>
    <form [formGroup]="contactForm">
      <mat-card-content>
        <div>
          <h2>Contact Us</h2>
          <div class="flex-row">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName">
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Comments or Questions</mat-label>
            <textarea matInput formControlName="comments"></textarea>
          </mat-form-field>
        </div>
      </mat-card-content>
      <div *ngIf="submittingForm" class="submitting">
        <span>Submitting Form...</span>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <mat-card-actions align="end">
        <button type="reset" mat-raised-button>Clear Form</button>
        <button mat-raised-button color="primary" [disabled]="!contactForm.valid" (click)="onSubmit()">Submit</button>
      </mat-card-actions>
    </form>
  </ng-template>
</mat-card>
