.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #3c3908db;
  height: 80px;
}

.content-container {
  height: calc(100vh - 80px);
  overflow: auto;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.logo {
  height: 100%;
}

nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  color: white;
}

nav .responsive-menu-icon {
  display: none;
}

nav a {
  font-size: 20px;
  font-weight: bold;
}

nav a:hover {
  color: #59b579;
  cursor: pointer;
}

nav div {
  display: none;
}

@media screen and (max-width: 600px) {
  nav a {
    display: none;
  }

  nav a.responsive-menu-icon {
    float: right;
    display: block;
  }

  nav.responsive {
    position: relative;
  }

  nav.responsive .responsive-menu-icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

