<nav [ngClass]="showResponsiveMenu ? 'responsive' : ''">
  <a (click)="routeToNewPage('')">
    <div class="logo-container">
      <img class="logo" src="/assets/logo.png">
      <span>Intentional Health Journey</span>
    </div>
  </a>
  <a (click)="routeToNewPage('contact-us')">Contact Us</a>
  <a (click)="routeToNewPage('our-mission')">Our Mission</a>
  <a class="responsive-menu-icon" (click)="toggleResponsiveMenu()">
    <i class="fa fa-bars"></i>
  </a>
</nav>
<div class="content-container">
  <router-outlet></router-outlet>
</div>
