.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #3c3908db;
  height: 80px;
}

.content-container {
  height: calc(100vh - 80px);
  overflow: auto;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.logo {
  height: 100%;
}

nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  color: white;
}

nav a {
  font-size: 20px;
  font-weight: bold;
}

nav a:hover {
  color: #59b579;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }
}

