<div class="landing-words-flex-container">
  <span id="main-text">Motivation and Support</span>
  <span id="subtitle">Journey to a Holistic Lifestyle</span>
  <span id="text-icon" class="fa fa-pagelines"></span>
  <div class="white-circle"></div>
</div>
<div class="scroll-anchor-container" (click)="scrollToContent(content)">
  <span class="fa fa-chevron-down"></span>
</div>
<div #content class="content">
  <div class="card-grid-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Recipe of the Month</mat-card-title>
        <mat-card-subtitle><p>{{ recipe?.name }}</p></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [attr.src]=" environment.directusBaseURL + '/assets/' + recipe?.image">
      <mat-card-content>
        <p>{{ recipe?.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button color="primary" mat-raised-button (click)="openDocument(recipe.document)"><span class="fa fa-book"></span>Full Recipe</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Quote of the Month</mat-card-title>
        <mat-card-subtitle><p>{{ quote?.author }}</p></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [attr.src]="environment.directusBaseURL + '/assets/' + quote?.image">
      <mat-card-content>
        <p>{{ quote?.quote }}</p>
      </mat-card-content>
      <mat-card-actions>
        <span id="quoteIcon" class="fa fa-pagelines"></span>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Recommendation</mat-card-title>
        <mat-card-subtitle><p>{{ recommendation?.title }}</p></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [attr.src]="environment.directusBaseURL + '/assets/' + recommendation?.image">
      <mat-card-content>
        <p>{{ recommendation?.recommendation }}</p>
      </mat-card-content>
      <mat-card-actions *ngIf="recommendation?.document">
        <button color="primary" mat-raised-button (click)="openDocument(recommendation.document!)"><span class="fa fa-newspaper-o"></span>Full Document</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <h2>Want to learn more?</h2>
  <div class="button-container">
    <button color="primary" mat-raised-button (click)="routeToNewPage('contact-us')"><span class="fa fa-clipboard"></span>Contact Us</button>
    <button color="primary" mat-raised-button (click)="routeToNewPage('our-mission')"><span class="fa fa-users"></span>Our Mission</button>
  </div>
</div>

