<mat-card>
  <mat-card-content>
    <h2>Mission Statement</h2>
    <p>{{ mission?.statement }}</p>
    <div class="icon-row">
      <span class="fa fa-pagelines"></span>
      <span class="fa fa-pagelines"></span>
      <span class="fa fa-pagelines"></span>
      <span class="fa fa-pagelines"></span>
      <span class="fa fa-pagelines"></span>
      <span class="fa fa-pagelines"></span>
      <span class="fa fa-pagelines"></span>
    </div>
    <h2>Our Mission</h2>
    <p>{{ mission?.summary }}</p>
  </mat-card-content>
</mat-card>
